<mat-toolbar>
  <div class="aiolos-navbar">
    <div class="text-wrapper">
      <span class="text-navbar-aiolos">NOVA ADMISSÃO COOPERADO</span>
      <span class="breadcrumbs">Cadastro/ Admissão do Cooperado/ Nova Admissão de Cooperado</span>

    </div>
    <div class="aiolos-user-menu">
      <mat-icon matBadge="15" matBadgeColor="warn">notifications_outlined</mat-icon>
      <div class="user-type">
        <span>VIACREDI</span>
      </div>
      <div class="user-aiolos">
        <img src="../../../../assets/images/user.png" />
      </div>

    </div>
  </div>
</mat-toolbar>
